div#memory-lol {
  padding-bottom: 1em;
  /* Temporary hack */
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

div#memory-lol a {
  margin-right: 0;
  text-decoration: none;
}

div#memory-lol > div#non-existent-user-ids {
  padding-top: 1em;
}

div#memory-lol > div#non-existent-user-screen-names {
  padding-top: 0.5em;
}
