$green: #82bd4e;
$yellow: #fdce2e;
$red: #f79d33;

@import "~bulma/bulma.sass";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand > a > img {
  max-height: 48px;
}

footer.footer {
  background-color: white;
}
